$bg_color: #bdbbbb;
$text_color: #333333;
$title_color: #4278ff;
$author_color: #525252;

#Post {
    flex-basis: 32%;
    background-color: $bg_color;
    border-radius: 10px;
    color: $text_color;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;

    * {
        margin: 0;
        padding: 0;
    }

    h2 {
        color: $title_color;
        margin-bottom: 10px;
        font-size: 25px;
    }

    p {
        line-height: 1.3;
        text-align: justify;
        font-size: 16px;
    }

    span {
        margin-top: 10px;
        color: $author_color;
        opacity: 0.6;
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    #Post {
        flex-basis: 100%;
    }
}